[Unit]
Description=dsdmona
After=systemd-user-sessions.service

[Service]
Type=idle
ExecStart=/usr/bin/dsdmona --tty 7
Restart=always
TTYPath=/dev/tty7
TTYReset=yes
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes
StandardInput=tty

[Install]
Alias=display-manager.service
